@model DATA.style

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>style</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.style_letter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.style_letter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.style_guide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.style_guide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.og_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.og_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.og_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.og_max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fg_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fg_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fg_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fg_max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ibu_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ibu_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ibu_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ibu_max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color_max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abv_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abv_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abv_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abv_max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carb_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carb_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carb_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carb_max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ingredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ingredients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.examples)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.examples)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.display)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.display)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.folder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.folder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
